body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

body.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-theme .news-item {
    background-color: #555;
    color: #f4f4f4;
}

body.dark-theme .news-item h2 {
    color: #87CEEB;
}

body.dark-theme .news-item a {
    color: #87CEEB;
}

body.dark-theme .news-item p {
    color: #ccc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

header button:hover {
    background-color: #0056b3;
}

.category-selection {
    margin-top: 10px;
}

.category-selection label {
    color: #fff;
    margin-right: 5px;
}

.category-selection select {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.news-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.news-item h2 {
    margin-top: 0;
    color: #0056b3;
}

.news-item a {
    text-decoration: none;
    color: #0056b3;
}

.news-item a:hover {
    text-decoration: underline;
}

.news-item p {
    font-size: 0.9em;
    color: #666;
}
